.menu{
  top: 77px;
}

.forms-dados-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 780px;
  margin: 120px auto 43px 326px;
  background: rgba(217, 217, 217, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 19px 43px;
}

.forms-dados-container .form-head{
  display: flex;
  align-items: center;
}

.forms-dados-container .form-head p{
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin: 0;
}

.forms-dados-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.forms-dados-container form label{
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-top: 18px;
  align-self: center;
}

.forms-dados-container form input[type="text"], input[type="password"], input[type="email"], select {
  position: relative;
  border: 1px solid #605E5E;
  border-radius: 20px;
  width: auto;
  height: 37px;
  margin: 9px 0 0;
  outline: none;
  padding: 0 25px;

  font-weight: bold;
  font-size: 18px;
}

.btn{
  align-self: center;
  width: 183px;
  margin-top: 25px;
}