body {
  padding: 0px 356px 43px 326px;
}

.menu {
  top: 77px;
}

.editorcontainer {
  display: flex;
  flex-direction: column;
  margin: 120px 0 0;
  width: 100%;
  padding: 16px;

  background: rgba(217, 217, 217, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.editorcontainer h1 {
  margin: 0;
  text-align: center;
}

.editorcontainer .form-group {
  margin: 26px 0 0;
}

.editorcontainer .form-group h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}

.editorcontainer .form-group p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0;
}

.editorcontainer .form-group input[type='text'] {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  margin: 8px 0 0;
}

.editorcontainer .form-group textarea{
  margin: 8px 0 0;
}

.editorcontainer button {
  margin: 49px 0 0;
  width: 183px;
}